doctype html
html(lang="en")
	head
		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.min.js')
		link(href='https://code.jquery.com/ui/1.11.4/themes/ui-lightness/jquery-ui.css', rel='stylesheet')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')

		script(type='text/javascript').
			var results = !{tweetsi};
			var count = results.length;
			var total = 0;

			for(var i = 0; i < count; i++){
				total += results[i]["followers"];
			}
			
			var average = total / count;

			$(document).ready(function() {
				$(document).tooltip();
				$("#count").html(count);
				$("#average").html(average);
			});

		style.
			label {
				display: inline-block;
				width: 5em;
			}

			svg{
				display: block;
				margin: 0 auto;
				text-align: center;
			}

	body
		div(class='results')
			h3.center
				| Here are the results from capturing <span id="count"></span> tweets
			h4.center
				| The average follower count from these tweets is <span id="average"></span>
			p.center
				| Hover over slices for more information
		div(class='row')
			div(class='col-md-6')
				h5.center Most tweeted from languages are
			div(class='col-md-6')
				h5.center Most tweeted from platforms are

		div(class='row') 
			div(id='language' class='col-md-6 graph')
			div(id='platform' class='col-md-6 graph')

		p.center
			This is my very first Node Application as well as one using retrieving live data and visualizing it twitter. You must excuse the poor handling of submission as I have not at this point learned back-end templating well enough to have these visualizations update with the data being retrieved on the fly. 

		script(type='text/javascript', src='/d3js/platform.js')
		script(type='text/javascript', src='/d3js/language.js')


