doctype html
html(lang="en")
	head
		script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
		link(href='/css/style.css', rel='stylesheet')
	body
		div.
			<h1>Twitter Data Visualization</h1>
		div
			form(action='/', method='post')
				div.input
					span.label Hashtag #
					input(type="text", name="hashtag")
				div.input
					span.label How many seconds? 
					input(type="number", name="seconds", min="1", max= "100", value="1")
				div.input
					input(type='submit', value="Submit")